/*!   
 Free to use
*/
.logo-holder{background-image:url("../images/nlogo.svg")}
html,body{height:100%}
body{font-family:'Source Sans Pro', sans-serif;
    color:#101113;
    font-size:14px;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
h1,h2,h3,h4,h5,h6{font-family:'Raleway', sans-serif;
    font-weight:200
}
p{margin-bottom:15px;
    line-height:1.5
}
a{color:#2696C2;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    text-decoration:none
}
a:hover,a:active{text-decoration:underline;
    color:#2286ad
}
a:focus{text-decoration:none;
    color:#2286ad;
    outline:none
}
.btn,a.btn{-webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    border-radius:0;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    font-weight:bold;
    letter-spacing:0.5px;
    text-decoration:none
}
.btn:focus,a.btn:focus{box-shadow:none}
a.btn-primary,.btn-primary{background:#aaa;
    border:2px solid #aaa;
    color:#212529;
    text-transform:uppercase;
    box-shadow:inset 0 0 0 0 #196582
}
a.btn-primary:hover,.btn-primary:hover{box-shadow:inset 0 100px 0 0 #196582}
a.btn-primary:hover,a.btn-primary:active,a.btn-primary:focus,a.btn-primary:not(:disabled):not(.disabled):active:focus,.btn-primary:hover,.btn-primary:active,.btn-primary:focus,.btn-primary:not(:disabled):not(.disabled):active:focus{background:#196582;
    border:2px solid #196582;
    color:#fff;
    outline:none;
    box-shadow:none
}
a.btn-secondary,.btn-secondary{background:#222121;
    border:2px solid #1c66d4;
    color:#fff;
    text-transform:uppercase;
    box-shadow:inset 0 0 0 0 #2696C2
}
a.btn-secondary:hover,.btn-secondary:hover{box-shadow:inset 0 100px 0 0 #196582}
a.btn-secondary:hover,a.btn-secondary:active,a.btn-secondary:focus,a.btn-secondary:not(:disabled):not(.disabled):active:focus,.btn-secondary:hover,.btn-secondary:active,.btn-secondary:focus,.btn-secondary:not(:disabled):not(.disabled):active:focus{background:#196582;
    border:2px solid #196582;
    color:#fff;
    outline:none;
    box-shadow:none
}
a.btn-ghost-primary,.btn-ghost-primary{background:none;
    border:2px solid #2696C2;
    color:#2696C2;
    box-shadow:inset 0 0 0 0 #2696C2;
    text-transform:uppercase
}
a.btn-ghost-primary:active,a.btn-ghost-primary:focus,.btn-ghost-primary:active,.btn-ghost-primary:focus{border:2px solid #2696C2;
    color:#2696C2;
    outline:none
}
a.btn-ghost-primary:hover,.btn-ghost-primary:hover{box-shadow:inset 0 100px 0 0 #2696C2;
    background:#2696C2;
    color:#fff;
    border:2px solid #2696C2
}
a.btn-ghost-secondary,.btn-ghost-secondary{background:none;
    border:2px solid #101113;
    color:#101113;
    box-shadow:inset 0 0 0 0 #101113;
    text-transform:uppercase
}
a.btn-ghost-secondary:active,a.btn-ghost-secondary:focus,.btn-ghost-secondary:active,.btn-ghost-secondary:focus{border:2px solid #101113;
    outline:none;
    color:#101113
}
a.btn-ghost-secondary:hover,.btn-ghost-secondary:hover{background:#101113;
    box-shadow:inset 0 100px 0 0 #101113;
    color:#fff;
    border:2px solid #101113
}
.navbar{position:relative;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:flex-end;
    padding-top:.5rem;
    padding-bottom:.5rem
}

label{color:#f8f9fa}
.form-group{margin-bottom:30px}
.highlight{color:#2696C2}
#back-to-top{background:#167ac68a;
    color:#fff;
    text-align:center;
    display:inline-block;
    z-index:30;
    width:42px;
    height:42px;
    border-radius:50%;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box
}
#back-to-top:hover{background:#88ddff}
#back-to-top svg{position:relative;
    font-weight:normal;
    background:none;
    width:24px;
    height:auto;
    margin-top:7px
}
.section{padding-top:90px;
    padding-bottom:90px
}
.section-title{text-transform:uppercase;
    margin-top:0;
    margin-bottom:52px;
    font-weight:800;
    font-size:32px;
    position:relative;
    padding-bottom:5px
}
.section-title:after{content:"";
    display:inline-block;
    height:4px;
    width:60px;
    background:#2696C2;
    position:absolute;
    left:50%;bottom:-5px;
    margin-left:-30px;
    border-radius:1px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box}
.header{color:#fff;
    padding-top:0;
    min-height:51px;
    background: #181818;
}
.header-scrolled{box-shadow:0 0 4px rgba(0,0,0,0.5);
    background:rgba(0,0,0,0.8);
    -webkit-transition:all 0.6s ease-in-out;
    -moz-transition:all 0.6s ease-in-out;
    -ms-transition:all 0.6s ease-in-out;
    -o-transition:all 0.6s ease-in-out
}
.header-scrolled .nav>li>a{color:rgba(255,255,255,0.65)}
.header-scrolled .navbar-nav{padding-top:0}
.navbar{padding-top:0;
    padding-bottom:0
}
.navbar-nav{padding-top:15px}
.nav-link{padding-top:15px;
    padding-bottom:15px;
    text-decoration:none;
    color:rgba(255,255,255,0.7);
    font-size:14px;
    font-weight:600;
    text-transform:uppercase
}
.nav-link:hover{text-decoration:underline}
.nav-link:focus,.nav-link:hover{background:none;
    outline:none;
    color:#2696C2
}
.nav-item.active .nav-link{color:#2696C2}
.navbar-toggler{margin-right:0;
    margin-top:0;
    margin-bottom:10px;
    background:none;
    position:relative;
    top:5px;
    right:0;
    left:auto;
    padding-left:0;
    padding-right:0}
.navbar-toggler:focus{outline:none}
.navbar-toggler .toggle-title{display:inline-block;color:rgba(255,255,255,0.9);margin-right:5px;font-weight:bold;text-transform:uppercase;position:relative;top:0;font-size:16px}
.footer{background:#000;
    font-weight:normal;
    color:rgba(255,255,255,0.6)
}
.footer a{color:#2696C2}
.footer a:hover{color:#1e7597}
.footer-content{padding:15px}
.promo-section{height:100vh;
    width:100%;
    position:relative;
    color:#fff;
    background:#101113
}
@-webkit-keyframes zoom{from{-webkit-transform:scale(1.5, 1.5)}to{-webkit-transform:scale(1, 1)}
}
@keyframes zoom{from{-webkit-transform:scale(1.5, 1.5);
    transform:scale(1.5, 1.5)}to{-webkit-transform:scale(1, 1);transform:scale(1, 1)}
}
.promo-carousel-holder{position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%
}
.promo-carousel-holder .carousel-item{-webkit-animation:zoom 4s  ease-in-out;
    animation:zoom 4s  ease-in-out
}
.promo-carousel-holder .slide-1{background:url("../images/bg/Umgot-River.png") no-repeat center center;
    background-size:cover}
.promo-carousel-holder .slide-2{background:url("../images/bg/02.webp") no-repeat center center;
    background-size:cover}
.promo-carousel-holder .slide-3{background:url("../images/bg/shillong.jpg") no-repeat center center;
    background-size:cover}
.promo-carousel-holder .slide-4{background:url("../images/bg/04.webp") no-repeat center center;
    background-size:cover}
.promo-carousel-holder .slide-5{background:url("../images/bg/05.webp") no-repeat center center;
    background-size:cover}
.promo-carousel-holder .slide-6{background:url("../images/bg/iitgalche.jpg") no-repeat center center;
    background-size:cover}

.overlay-mask{background:rgba(0,0,0,0.5);
    position:absolute;
    width:100%;
    height:100%;
    z-index:10;
    top:0;
    left:0
}
.logo-holder{height:45px;
    text-align:center;
    background-color:transparent;
    background-position:center center;
    background-repeat:no-repeat;
    margin-top:0;
    margin-bottom:115px;
    text-indent:-9999px;
    overflow:hidden;
    background-size:contain
}
.promo-content{padding-top:80px;
    position:relative;
    z-index:20
}
.promo-content .headline{font-size:46px;
    text-transform:uppercase;
    text-shadow:0 1px 1px rgba(0,0,0,0.4)
}
.promo-content .tagline{font-size:22px;
    margin-bottom:90px;
    color:#2696c2;
}
.updates-block{position:absolute;
    z-index:30;
    bottom:2px;
    width:100%;
    height:160px;
    padding-top:30px;
    padding-bottom:30px;
    background:rgba(0,0,0,0.7);
    color:#fff
}
.updates-block .updates-block-inner{padding-left:80px;
    padding-right:60px;
    position:relative
}
.updates-block .carousel-inner{min-height:100px}
.updates-block .media-holder{display:inline-block;
    position:absolute;
    width:170px;
    height:100px;
    left:0
}
.updates-block .media-thumb{position:relative}
.updates-block .video-play-trigger{position:absolute;
    width:36px;height:36px;
    left:50%;
    margin-left:-18px;
    text-align:center;
    z-index:5;top:50%;
    margin-top:-18px;
    color:#fff;
    background:rgba(0,0,0,0.8);
    border-radius:50%;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    cursor:pointer
}
.updates-block .video-play-trigger:hover{background:rgba(38,150,194,0.6)}
.updates-block .video-play-trigger .svg-inline--fa{color:#fff;
    font-size:14px;
    margin-top:11px;
    margin-left:4px
}
.updates-block .carousel-control-prev{left:-60px}
.updates-block .carousel-control-next{right:-60px}
.updates-block .carousel-control-next,.updates-block .carousel-control-prev{width:auto}
.updates-block .carousel-control-next:hover,.updates-block .carousel-control-prev:hover{-webkit-opacity:.6;
    -moz-opacity:.6;
    opacity:.6
}
.updates-block .carousel-control-prev-icon{
    background:transparent url("../images/left-arrow.svg") no-repeat left top;
    width:23px;
    height:40px;
    left:-60px
}
.updates-block .carousel-control-next-icon{background:transparent url("../images/right-arrow.svg") no-repeat right top;
    width:23px;
    height:40px;
    right:-60px
}
.updates-block .carousel .carousel-item{height:100px}
.updates-block .carousel-content{padding-left:200px;
    max-width:760px
}
.updates-block .carousel-content.no-media-holder{padding-left:0;
    max-width:620px
.updates-block .carousel-content.no-media-holder .title{margin-bottom:15px}
}
.updates-block .carousel-content .title{font-size:18px;
    font-weight:600;
    margin-top:0;
    margin-bottom:5px
}
.updates-block .carousel-content .btn-cta{position:absolute;
    right:0;
    top:30px
}
.updates-block .carousel-content .desc{color:rgba(255,255,255,0.6)}
.updates-block .carousel-content .desc a{color:#fff}
.updates-block .carousel-content .desc a.more-link{color:#2696C2;
    vertical-align:middle
}
.updates-block .carousel-content .desc a.more-link:hover{color:#1e7597}
.updates-block .carousel-content .highlight{color:#2696C2}
.countdown-box{font-size:16px}
.countdown-box .number{font-weight:700;
    color:#2696C2;
    font-size:24px
}
.countdown-box .unit{color:rgba(255,255,255,0.6);
    padding-left:5px;
    padding-right:5px;
    -size:14px
}

.gigs-section{background-image: linear-gradient(to bottom,#15342d,#1b7fcccc,#ccc);}
.gigs-section .container{max-width:860px;}
.gigs-section .item{position:relative;padding-left:60px;padding-top:15px;padding-bottom:15px;border-bottom:2px solid #eee}
.gigs-section .date-label{background:#101113;color:#fff;text-align:center;display:inline-block;width:45px;height:55px;padding-top:4px;position:absolute;left:0;top:15px}
.gigs-section .date-label .number{font-size:20px;font-weight:700}
.gigs-section .date-label .month{font-size:12px;font-weight:600;font-family:'Raleway', sans-serif;color:rgba(255,255,255,0.8)}
.gigs-section .gig-title{font-size:16px;margin-top:0;margin-bottom:10px;font-weight:700}
.gigs-section .meta-list{color:#788191}
.gigs-section .meta-list a{color:#788191}
.gigs-section .meta-list .svg-inline--fa{margin-right:5px;color:#5bb66f;font-size:16px}
.gigs-section .gig-actions{position:absolute;right:0;top:15px}
.gigs-section .gig-actions .btn{margin-right:5px}
.gigs-section .gig-actions .btn:last-child{margin-right:0}
.gigs-section .info-extra{color:#4f545e;font-size:16px}
.gigs-section .gigs-contact{margin-top:60px}
.gigs-section .gigs-contact .title{font-size:18px;margin-top:0;margin-bottom:15px}
.gigs-section .gigs-contact .intro{font-size:16px;color:#4f545e;max-width:800px}
.gigs-section .gigs-contact .btn{margin-top:15px}

.music-section{background:#f5f5f5}
.music-section .sc-block{max-width:860px;
    margin-bottom:90px
}
.music-section .sc-block .item{margin-bottom:15px}
.music-section .albums-block .item{margin-bottom:45px}
.music-section .albums-block .item-inner{position:relative;
    padding-right:60px
}
.music-section .albums-block .arrow-holder{content:"";
    display:block;
    width:0;
    height:0;
    border-left:20px solid transparent;
    border-right:20px solid transparent;
    border-top:20px solid #0d3342;
    position:absolute;
    left:-10px;top:37px;
    bottom:-20px}
.music-section .albums-block .cover-figure{max-width:235px;
    max-height:235px;
    position:relative;
    display:inline-block;
    margin-bottom:15px;
    background:#101113;
    box-shadow:0 0 4px rgba(0,0,0,0.5)}
.music-section .albums-block .cover-figure .cover-image{position:relative;
    -webkit-opacity:.95;
    -moz-opacity:.95;
    opacity:.95}
.music-section .albums-block .cover-figure .record-holder{max-width:235px;
    max-height:235px;
    display:inline-block;
    position:absolute;
    right:-80px;
    bottom:0;
    -webkit-transition:all 0.6s ease-in-out;
    -moz-transition:all 0.6s ease-in-out;
    -ms-transition:all 0.6s ease-in-out;
    -o-transition:all 0.6s ease-in-out
}
.music-section .albums-block .cover-figure:hover .cover-image{-webkit-opacity:1;
    -moz-opacity:1;
    opacity:1
}
.music-section .albums-block .cover-figure:hover .record-holder{right:-118px}
.music-section .albums-block .cover-label{position:absolute;
    left:-10px;top:0;
    background:#2696C2;
    color:#fff;
    font-family:'Raleway', sans-serif;
    text-transform:uppercase;
    font-weight:700;
    font-size:12px;
    padding:10px
}
.music-section .albums-block .album-title{font-size:14px;
    margin-bottom:15px;
    margin-top:0;
    max-width:235px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    text-align:center;
    display:inline-block
}
.music-section .music-action{margin-top:30px}


.contact-section{background-image: linear-gradient(to bottom,#ccc,#000);
    color:#2696c2
}
.contact-section a{color:rgba(255,255,255,0.75)}
.contact-section a:hover{color:#2696C2}
.contact-section .section-title{margin-bottom:30px;color:#2696c2}
.contact-section .section-intro{max-width:800px;
    margin:0 auto;
    margin-bottom:60px;
    font-size:14px
}
.contact-section .contact-block{max-width:800px;
    margin-bottom:90px
}
.contact-section .contact-block .item{margin-bottom:30px}
.contact-section .contact-block .title{font-weight:bold;
    text-transform:uppercase;
    color:#fff;
    margin-top:0;
    margin-bottom:5px;
    font-size:18px
}
.contact-section .contact-block .icon-holder{margin-bottom:15px}
.contact-section .contact-block .svg-inline--fa{margin-right:5px;
    color:#2696C2;
    font-size:24px
}
.contact-section .channels-list{margin-bottom:45px}
.contact-section .channels-list a{-webkit-opacity:.4;
    -moz-opacity:.4;
    opacity:.4
}
.contact-section .channels-list a:hover{-webkit-opacity:1;
    -moz-opacity:1;
    opacity:1
}

.modal-body{padding-left:30px;
    padding-right:30px;
    padding-bottom:30px;
    font-size:16px;
    color:#4f545e
}
.modal-body iframe{max-width:100%}
.modal-content{border-radius:0;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box
}
.modal-header{border:none;
    padding-top:30px;
    position:relative;
    -webkit-justify-content:center !important;
    justify-content:center !important
}
.modal button.btn-close{font-size:45px;
    font-weight:300;
    text-shadow:none;
    background:none;
    position:absolute;
    right:-15px;
    top:-60px;
    z-index:10;
    border:none;
    outline:none;
    -webkit-opacity:.8;
    -moz-opacity:.8;
    opacity:.8;
    background:none;
    padding:0;
    margin:0;
    color:#fff
}
.modal button.btn-close:hover{-webkit-opacity:1;
    -moz-opacity:1;
    opacity:1
}
.modal-backdrop.in{-webkit-opacity:.9;
    -moz-opacity:.9;
    opacity:.9
}
.modal.modal-video .modal-dialog{margin-top:90px}
.modal.modal-video .modal-body{padding:0;
    padding-top:0
}
.modal.modal-video .modal-header{border:none;
    padding:0
}
.modal.modal-video .modal-content{background:none;
    border:none;
    box-shadow:none
}
.modal.modal-video button.close{color:#fff;
    -webkit-opacity:.6;
    -moz-opacity:.6;
    opacity:.6;
    background:none;
    position:absolute;
    top:inherit;
    right:0px;
    bottom:5px;
    z-index:10
}
.modal.modal-video button.close:hover{-webkit-opacity:1;
    -moz-opacity:1;
    opacity:1
}
@media (max-width: 767.98px){
    .promo-section{height:auto}
    .logo-holder{height:32px}
    .header{background:rgba(0,0,0,0.9);
        padding-top:0
    }
    .navbar-collapse{box-shadow:none}
    .nav>li.active>a{color:#2696C2}
    .promo-content{padding-top:0px}
    .promo-content .headline{font-size:20px}
    .promo-content .tagline{font-size:14px}
    .updates-block{position:relative;
        height:inherit;
        bottom:0;
        min-height:400px
    }
    .updates-block .media-holder{position:static;
        margin:0 auto;
        margin-bottom:30px
    }
    .updates-block .carousel-content{padding-left:0}
    .updates-block .carousel-content .btn-cta{position:static}
    .updates-block .carousel .item{height:inherit}
    .updates-block .glyphicon-chevron-right{right:-45px}
    .updates-block .glyphicon-chevron-left{left:-45px}
    .gigs-section .gig-actions{position:static;
        margin-top:15px;
        margin-bottom:15px
    }
    .about-section .item-inner{padding:15px}
    .merch-section .mask-inner{padding-top:30px}
    .music-section .albums-block .item-inner{padding:0px}
    .music-section .albums-block .album-title{max-width:160px;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis
    }
    .music-section .albums-block .cover-figure{max-width:100%;
        max-height:inherit
    }
    .music-section .albums-block .cover-figure .record-holder{display:none}
    .updates-block .carousel .carousel-item{height:inherit}
}
@media (min-width: 576px){
    .modal-video .modal-dialog{max-width:inherit}
    .modal-info .modal-dialog{max-width:inherit}
}@media (min-width: 768px){
    .navbar-expand-md .navbar-nav .nav-link{
        padding-left:15px;
        padding-right:15px
    }
    .modal-dialog{width:700px}
    .navbar-nav{float:none}
    .promo-content{padding-top:30px}
    .updates-block{height:260px}
    .updates-block .carousel-content .btn-cta{position:static}
    .updates-block .carousel .item{height:200px}
    .updates-block .glyphicon-chevron-right{right:-45px}
    .updates-block .glyphicon-chevron-left{left:-45px}
    .music-section .albums-block .cover-figure .record-holder{right:-50px}
    .music-section .albums-block .cover-figure:hover .record-holder{right:-80px}
}
@media (min-width: 992px){
    .promo-content{padding-top:80px}
    .updates-block{height:160px}
    .updates-block .carousel-content .btn-cta{position:absolute}
    .updates-block .carousel .item{height:100px}
    .updates-block .glyphicon-chevron-right{right:-60px}
    .updates-block .glyphicon-chevron-left{left:-60px}
    .music-section .albums-block .cover-figure .record-holder{right:-60px}
    .music-section .albums-block .cover-figure:hover .record-holder{right:-118px}
}
